/* ----- General ----------------------------------------------------------- */

* {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: Arial, sans-serif;
}

body {
    margin: 0px;
}

input[type="text"], textarea {
    border: none;
    margin: 0px;
    width: 100%;
}

textarea {
    min-height: 150px;
    resize: vertical;
}

pre {
    overflow-x: auto;
}

@media (min-width: 600px) {
    input[type="text"], textarea {
        font-size: 1.25em;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.25em;
    }

    h3 {
        font-size: 1.755em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.245em;
    }

    h6 {
        font-size: 1.005em;
    }

    p, pre {
        font-size: 1.5em;
    }
}

/* ----- Basic ------------------------------------------------------------- */

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

/* ----- Colors ------------------------------------------------------------ */

.green {
    background-color: #009323;
    color: #FFFFFF;
}

.blue {
    background-color: #2463C9;
    color: #FFFFFF;
}

.red {
    background-color: #FF5555;
    color: #FFFFFF;
}

/* ----- Navigation Bar ---------------------------------------------------- */

.navbar {
    background-color: #F8F8F8;
    height: 60px;
}

    .navbar .title {
        color: #5E5E5E;
        font-size: 1.2em;
        font-weight: bold;
        margin: 0px;
        padding: 19px 2px;
    }

    .navbar > .left {
        float: left;
        margin-left: 10px;
    }

    .navbar > .right {
        float: right;
        margin-right: 10px;
    }

    .navbar > .clear {
        clear: both;
    }

@media (min-width: 600px) {
    .navbar > .left {
        margin-left: 10%;
    }

    .navbar > .right {
        margin-right: 10%;
    }
}

.navbar button {
    height: 60px;
}

/* ----- Buttons ----------------------------------------------------------- */

button {
    border: none;
    font-weight: bold;
    height: 30px;
    margin: 0px;
    opacity: 0.7;
    padding: 0px 10px;
}

    button:hover {
        opacity: 0.85;
    }

    button:active {
        opacity: 1;
    }

    button:focus {
        outline: none;
    }

    button.large {
        font-size: 1.25em;
        height: 45px;
        padding-left: 10px;
        padding-right: 10px;
    }

@media (min-width: 600px) {
    button {
        height: 40px;
        padding: 0px 15px;
    }

    button.large {
        height: 60px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

/* ----- Containers -------------------------------------------------------- */

.container {
    background-color: #EEEEEE;
    margin: 20px 0px;
    padding: 10px;
}

    .container.footer {
        background-color: #FFFFFF;
        margin: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
    }

        .container.footer p {
            color: #808080;
            font-size: 0.7em;
        }

@media (min-width: 600px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }

        .container.footer p {
            color: #808080;
            font-size: 0.8em;
        }
}

/* ----- Pagination -------------------------------------------------------- */

.pagination {
    text-align: center;
}

    .pagination button {
        background-color: #FFFFFF;
    }

        .pagination button.active {
            background-color: #2463C9;
            color: #FFFFFF;
            opacity: 1;
        }

/* ----- Table ------------------------------------------------------------- */

table {
    width: 100%;
}

/* ----- Popups ------------------------------------------------------------ */

.popup-container {
    background-color: #00000055;
    display: none;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
}

    .popup-container.open {
        display: block;
    }

.popup {
    background-color: #FFFFFF;
    margin: 40px auto;
    opacity: 1;
    padding: 25px;
    width: 80%;
}

    .popup h1, .popup h2, .popup h3, .popup h4, .popup h5, .popup h6 {
        border-bottom: 1px solid #808080;
        margin: 0px;
    }

@media (min-width: 600px) {
    .popup {
        width: 60%;
    }
}

/* ------------------------------------------------------------------------- */
